 <!DOCTYPE html>
<html>
<head>
<title>Jimena Aliaga blog</title>
</head>
<body>

<h1>Bienvenidos a mi blog personal</h1>
<h2> Jimena Aliaga Sanhueza</h2>
<h3> Contacto: jimena@ejemplo.cl </h3>
<h3> Perfil profesional</h3>
<p>Alto nivel de organización y motivación para aprender, sentido de la estética y buen gusto; dedicada, comprometida y con orientación a la innovación; responsable, proactiva y comparte conocimientos; contribuye al desarrollo del trabajo en equipo, con probidad y transparencia, y trabaja con eficiencia y eficacia en todo lo solicitado. </p>
<h3> Hobbies y pasiones</h3>
 <p> En mi tiempo libre disfruto salir a correr, caminar o compartir con mis amigos. Amo a los animales, viajar y aprender algo nuevo cada día.</p>
<h3>Últimos dos trabajos</h3>
<p> Analista de medios y asistente bilingüe de gerencia </p>

</body>
</html> 




